<%- include("../../partials/header.ejs") %>

    <div class="container myContainer">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card card-body mt-4">
                    <h4 class="text-center">Reset Password</h4>
                    <form action="/auth/reset-password" method="POST">
                        <div class="form-group m-3">
                            <input
                                type="text"
                                name="userId"
                                id="userId"
                                class="form-control <%= error.userId ? "is-invalid":"" %>"
                                placeholder="Enter Your Institution ID"
                            >
                        </div>
                        
                        <div class="form-group  m-3">
                        <input
                            type="submit"
                            class="btn btn-primary form-group ms-3"
                            value="Reset"
                        ></div>
                    </form>
                </div>

            </div>
        </div>
    </div>
<%- include("../../partials/footer.ejs") %>

</body>

</html>