<nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom border-info mb-3">
    <div class="container">
        <a class="navbar-brand" href="/">AAS</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <% if (isLoggedIn) { %>
                    <li class="nav-item px-2">
                        <a class="nav-link text-white" href="/dashboard"> Dashboard </a>
                    </li>

                    <li class="nav-item px-2">
                        <a class="nav-link text-white" href="/courses/create">Create Class</a>
                    </li>
                    <li class="nav-item px-2">
                        <a 
                            class="nav-link text-white cursor-pointer" onclick="togglePopup()">Join Class</a>
                    </li>
                    <li class="nav-item px-2">
                        <a class="nav-link text-white" href="/inbox">Discussion</a>
                    </li>
                    <li class="nav-item dropdown px-2">
                        <img src=" <%= user.profilePics %> " alt="profile pics" class="img-fluid rounded-circle"
                            id="profilePics" style="width: 45px; height: 40px;">
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <%= user.userId %>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/auth/change-password">Change Password</a>
                            <a class="dropdown-item" href="/dashboard/edit-profile">Edit profile</a>
                            <!-- <a class="dropdown-item" href="/dashboard/sample-picture">Sample picture</a> -->
                            <a class="dropdown-item" href="/auth/logout">Logout</a>
                        </div>
                    </li>

                    <% } else { %>
                        <li class="nav-item px-2">
                            <a class="nav-link text-white" href="/auth/login">Login</a>
                        </li>
                        <li class="nav-item px-2">
                            <a class="nav-link text-white" href="/auth/signup">Signup</a>
                        </li>
                        <li class="nav-item px-2">
                            <a class="nav-link text-white" href="/contact-us">Contact Us</a>
                        </li>
                        <li class="nav-item px-2">
                            <a class="nav-link text-white" href="/about-us">About</a>
                        </li>
                    <% } %>
            </ul>
            <div class="text-white" id="date"></div>
        </div>
    </div>
</nav>
<%- include("./joinClass.ejs") %>
<script>

    let months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
    let days = ['Sun', 'Mon', 'Tue', 'Wed', 'Thu','Fri', 'Sat'];

    let date = new Date();
    let bar = days[date.getDay()];
    let year = date.getFullYear();
    let month = months[date.getMonth()];
    let day = date.getDate();
    let time = date.toLocaleString('en-US', { hour: 'numeric', minute: 'numeric', hour12: true });

    date = `${bar}, ${day}-${month}-${year} ${time}`;
    document.getElementById("date").innerHTML = date;

    setInterval(() => {

    date = new Date();
    bar = days[date.getDay()];
    year = date.getFullYear();
    month = months[date.getMonth()];
    day = date.getDate();
    let time = date.toLocaleString('en-US', { hour: 'numeric', minute: 'numeric', hour12: true });

    date = `${bar}, ${day}-${month}-${year} ${time}`;
    document.getElementById("date").innerHTML = date;
    },1000)
</script>