<%- include("../../partials/header.ejs") %>

    <div class="myContainer">
        <div class="row">
            <div class="col-md-3">
                <%- include('../../partials/sidebar.ejs') %>
            </div>
            <div class="col-md-8 offset-md-4 mx-2">
                <%- include('../../partials/dashboardCards.ejs') %>
            </div>
        </div>        
    </div>
<%- include("../../partials/footer.ejs") %>

</body>

</html>