<div class="col-md-12 bg-white rounded shadow mt-2">
    <table class="table table-hover">
        <thead class="table-active">
            <tr>
                <th scope="col">Id \ Date</th>
                <% for( let val of attendances[0].value) { %>
                    <th scope="col">
                        <%= val.day%>
                    </th>
                <% } %>
                <% if (!add) { %>
                    <th scope="col">
                        <button type="submit" value="add" name="action"
                        class="btn btn-link">
                        <i class="fas fa-plus-circle fa-lg"></i>
                        </button>
                    </th>
                <% } %> 
            </tr>
        </thead>
        <tbody>
            <% for( let attend of attendances) { %>
                <tr>
                    <th scope="row">
                        <%= attend.userId ? attend.userId : "" %>
                    </th>
                    <% for (let val of attend.value) { %>
                        <td>
                            <!-- for checkbox -->
                            <div class="form-check">
                                <input 
                                    class="form-check-input" type="checkbox"
                                    value="" id="flexCheckDefault"
                                    <%=val.isPresent ? "checked" : "" %>
                                    <%=owner ? "" : "disabled" %>
                                >
                            </div>
                        </td>
                    <% } %>
                </tr>
                <% } %>
        </tbody>
    </table>
</div>