<%- include("../partials/header.ejs") %>

    <div class="bg-dark text-white pb-4">
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>

        <div class="container">
            <div class="row p-3">
                <div class="col-md-12">
                    <h1 class="text-center mb-3 ">About</h1>
                    <p class="p-3" style="font-size: 20px;">
                        Our server is developed for daily attendance tracking of users. The information of attendance is sorted and operated by the course creator. The purpose of our server is to computerize manual taking attendance and generating data automatically and real time discussion.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center mb-3 ">Developers</h1>
                </div>

                <div class="col-md-5 offset-md-1">
                    <div class="text mt-2">
                        <img
                            style="border-radius: 50%;" 
                            src="/uploads/developers/marzuk.JPG" alt="Marzuk"
                        >
                    </div>
                    <div class="row mt-5 ml-3">
                        <div class="icon mr-2">
                            <i class="fas fa-user-circle"></i>
                        </div>
                        <div class="text mt-2">
                            <h5>
                                Marzuk Islam
                            </h5>
                        </div>
                    </div>
                    <div class="row mt-2 ml-3">
                        <div class="icon mr-2">
                            <i class="fas fa-mobile"></i>
                        </div>
                        <div class="text mt-2">
                            <h5>01521117202</h5>
                        </div>
                    </div>
                    <div class="row mt-1 ml-3">
                        <div class="icon mr-2">
                            <i class="fas fa-envelope"></i>
                        </div>
                        <div class="text mt-2">
                            <h5>marzuk777@gmail.com</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 offset-md-1">
                    <div class="text mt-2">
                        <img
                            style="border-radius: 50%;" 
                            src="/uploads/developers/nabila.jpg" alt="Marzuk"
                        >
                    </div>
                    <div class="row mt-5 ml-3">
                        <div class="icon mr-2">
                            <i class="fas fa-user-circle"></i>
                        </div>
                        <div class="text mt-2">
                            <h5>
                                Nabila binte morshed
                            </h5>
                        </div>
                    </div>
                    <div class="row mt-2 ml-3">
                        <div class="icon mr-2">
                            <i class="fas fa-mobile"></i>
                        </div>
                        <div class="text mt-2">
                            <h5>01886596036</h5>
                        </div>
                    </div>
                    <div class="row mt-1 ml-3">
                        <div class="icon mr-2">
                            <i class="fas fa-envelope"></i>
                        </div>
                        <div class="text mt-2">
                            <h5>nabila.morshed2203@gmail.com</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include("../partials/footer.ejs") %>

    </body>

</html>