<%- include("../../partials/header.ejs") %>

    <div class="row">
        <div class="col-md-3">
            <%- include("./conversationList.ejs") %> 
        </div>
        <div class="col-md-8 border border-info">
            <%- include("./conversations.ejs") %> 
        </div>
    </div>

    <%- include("../../partials/footer.ejs") %>

    </body>

</html>