<%- include("../../partials/header.ejs") %>

    <div class="row">
        <div class="col-md-3">
            <%- include("./conversationList.ejs") %> 
        </div>
        <div class="col-md-8">
            <div class="row m-3" style=" border-bottom: 2px solid #192a3d; border-radius: 10px;">
                <div class="col-md-12 text-center">
                    <h4 class="text-white">Conversations</h4>
                </div>
            </div>
            <%- include("./conversations.ejs") %> 
        </div>
    </div>

    <%- include("../../partials/footer.ejs") %>

    </body>

</html>